body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@font-face {
	font-family: Gilroy;
	src: url("./fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
	font-family: Gilroy;
	font-weight: bold;
	src: url("./fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
	font-family: "DIN Pro";
	src: url("./fonts/DINPro.eot");
	src: local("DIN Pro"), local("DINPro"),
		url("./fonts/DINPro.eot?#iefix") format("embedded-opentype"),
		url("./fonts/DINPro.woff") format("woff"),
		url("./fonts/DINPro.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}
